<div fxLayout="column" fxLayoutGap="24px" [@slider]="scale" class="slider">
  <!-- Buttons +/- -->
  <div class="scale-buttons" fxLayout="column" fxLayoutAlign="start center">
    <i class="material-icons scale" (click)="zoomIn()">
      add_box
    </i>
    <i class="material-icons scale" (click)="zoomOut()">
      indeterminate_check_box
    </i>
  </div>

  <mat-card *ngIf="scale === 1">
    <mat-card-content class="card" fxFlex="100" fxLayout="row" fxLayoutAlign="start stretch">
      <!-- <div>
            <table class="left-line" width="1px" height="104px"></table>
            <span class="period-left">2016</span>
          </div> -->

      <div fxFlex="100" fxLayout="column" fxLayoutAlign="center space-between">
        <!-- <div fxLayout="row" fxLayoutAlign="center center">
              <hr width="100%" size="1" color="#979797" />
              <span class="period" fxLayoutAlign="center center">6 месяцев</span>
              <hr width="100%" size="1" color="#979797" />
            </div> -->

        <div style="margin: 0px 15px 0px 25px; position: relative;" fxLayout="row" fxLayoutAlign="space-evenly center"
          fxFlex="100">

          <!-- Здесь кружки и названия стадий -->

          <div class="center-line"></div>

          <div fxFlex="noshrink" fxLayoutAlign="start center" *ngFor="let items of data; let index = index; let last = last;">
            <div style="position: relative; height: 31px;" fxLayout="column" fxFlex="noshrink">
              <span class="case" (click)="selectCase(index, items)"> <!-- *ngIf="items.length * 4 > items[0]?.category.length"> -->
                <p>{{items[0]?.category}}</p>
                <!-- <span *ngIf="last" style="font-size: 15px"><b>{{items[0].category}}</b></span> -->
              </span>
              <!-- <span class="case" (click)="selectCase(index, items)" *ngIf="items[0]?.category.length >= items?.length * 4"
                [matTooltip]="items[0]?.category" matTooltipClass="up-tooltip" matTooltipPosition="above">
                <span *ngIf="!last">{{cutString(items[0].category, items?.length * 2)}}</span>
                <span *ngIf="last" style="font-size: 15px"><b>{{cutString(items[0]?.category, items?.length * 2)}}</b></span>
              </span> -->
              <div fxLayout="row" fxLayoutAlign="space-evenly center">
                <div class="container-circle" [class.big]="item.current" fxLayoutAlign="center center" *ngFor="let item of items;">
                  <div [class]="'circle ' + item.color" [class.red-border]="item.violation" [class.green-border]="item.endState"
                    [class.big]="item.current">
                    <mat-icon svgIcon='triangle' class="triangle" *ngIf="item.current"></mat-icon>

                    <div class="tryZ" [appTooltipTriggerFor]="tooltip"></div>

                  </div>
                  <app-tooltip #tooltip [data]="item"></app-tooltip>
                </div>
              </div>
            </div>
            <div class="separator" *ngIf="!last"></div>
          </div>
        </div>
      </div>
      <!-- <div>
            <table class="right-line" width="1px" height="104px"></table>
            <span class="period-right">2016</span>
          </div> -->
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="scale === 2">
    <mat-card-content class="card" fxFlex="100" fxLayout="row" fxLayoutAlign="start stretch">
      <div>
        <table class="left-line" width="1px" height="112px"></table>
        <span class="period-left">{{getYearFromDate(data[0][0].date)}}</span>
      </div>

      <div fxFlex="100" fxLayout="column" fxLayoutAlign="center space-between">
        <!-- <div fxLayout="row" fxLayoutAlign="center center">
              <hr width="100%" size="1" color="#979797" />
              <span class="period" fxLayoutAlign="center center">2 года 6 месяцев 29 дней</span>
              <hr width="100%" size="1" color="#979797" />
            </div> -->

        <div style="margin: 0px 15px 0px 25px; position: relative;" fxLayout="row" fxLayoutAlign="space-evenly center"
          fxFlex="100">

          <!-- Здесь кружки и названия стадий -->

          <div class="center-line"></div>

          <!-- <div class="center-dates" fxLayout="row">
              <div class="date" fxLayoutAlign="center" style="flex-grow: 1"><span>2017</span></div>
              <div class="date" fxLayoutAlign="center" style="flex-grow: 1"><span>2018</span></div>
            </div> -->
          <div fxFlex="100" class="all-date" fxLayoutAlign="space-evenly center">
            <div fxFlex="100" fxLayoutAlign="start center" [style.flex-grow]="koef[index]" *ngFor="let month of showMonthes; let index = index">
              <span [style.flex-grow]="koef[index]" fxLayoutAlign="start center">{{month}}</span>
            </div>
          </div>

          <div style="position: relative; height: 5px;" [style.flex-grow]="koef[index]" fxLayout="row" fxLayoutAlign="space-evenly center"
            *ngFor="let item of data; let last = last; let index = index; let odd = odd;">
            <div style="position: relative; height: 5px;" [style.flex-grow]="koef[index]" fxLayout="column">
              <div class="signature" [class.up]="odd" [class.down]="!odd">
                <span (click)="selectCase(index)">{{item[0].category}}</span>
              </div>
              <div fxLayout="row" fxLayoutAlign="space-evenly center">
                <div [class]="'line ' + item[0].color"></div>
              </div>
            </div>
            <div class="separator" *ngIf="!last"></div>
          </div>
        </div>
      </div>
      <div>
        <table class="right-line" width="1px" height="112px"></table>
        <span class="period-right">{{getYearFromDate(data[data.length - 1][data[data.length - 1].length - 1].date)}}</span>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="scale === 0">
    <mat-card-content class="card" fxFlex="100" fxLayout="row" fxLayoutAlign="start stretch">

      <div class="header2">
        <span>{{state[0]?.category}}</span>
      </div>

      <div fxLayoutAlign="start center">
        <span class="period-left">2016</span>
      </div>

      <div style="margin: 0px 15px 0px 40px; position: relative;" fxLayout="row" fxLayoutAlign="space-between center"
        fxFlex="100">

        <div class="center-line"></div>

        <!-- Здесь кружки -->
        <div fxLayout="row" fxLayoutAlign="space-between center" fxFill fxLayoutGap="100px" style="overflow-x: auto;">
          <div class="separator closest-zoom left"></div>

          <div *ngFor="let item of state; let odd = odd; let last = last">
            <div class="container-circle-big" fxLayoutAlign="center center" *ngIf="!item.separator">
              <div [class]="item.endState ? 'circle-big ' + item.color + '-border' : item.violation ? 'circle-big white' : 'circle-big ' + item.color"
                fxLayoutAlign="center center">
                <mat-icon *ngIf="item.current" svgIcon='triangle' class="triangle"></mat-icon>
                <mat-icon *ngIf="!item.violation" [svgIcon]="item.endState ? 'shape2' : 'shape'" class="md-14"></mat-icon>
                <mat-icon *ngIf="item.violation" svgIcon='exclamation-mark' class="md-30 violation-icon"></mat-icon>
              </div>
              <div class="signature-big" fxLayout="column" [class.up]="odd" [class.down]="!odd" [class.red-border]="item.violation" [class.last]="last && state.length > 6">
                <hr [width]="cutString(item.title, 24).length * 8.5" size="1" [color]="item.violation ? '#ff0000' : '#979797'"
                  style="margin: 0" *ngIf="!last"/>
                <hr [width]="cutString(item.title, 24).length * 8.5" size="1" [color]="item.violation ? '#ff0000' : '#979797'"
                  style="margin: 0" *ngIf="last && state.length <= 3"/>
                <hr [width]="cutString(item.title, 10).length * 7.5" size="1" [color]="item.violation ? '#ff0000' : '#979797'"
                  style="margin: 0" *ngIf="last && state.length > 3"/>
                <div>
                  <span class="first-span" [class.bright-red-color]="item.violation" *ngIf="!last && item.title.length >= 24"
                    [matTooltip]="item.title" [matTooltipPosition]="odd ? 'above' : 'below'">
                    {{cutString(item.title, 24)}}
                  </span>
                  <span class="first-span" [class.bright-red-color]="item.violation" *ngIf="!last && item.title.length < 24">
                    {{item.title}}
                  </span>
                  <span class="first-span" [class.bright-red-color]="item.violation" *ngIf="last && state.length <= 3 && item.title.length >= 24"
                    [matTooltip]="item.title" [matTooltipPosition]="odd ? 'above' : 'below'">
                    {{cutString(item.title, 24)}}
                  </span>
                  <span class="first-span" [class.bright-red-color]="item.violation" *ngIf="last && state.length <= 3 && item.title.length < 24">
                    {{item.title}}
                  </span>
                  <span class="first-span" [class.bright-red-color]="item.violation" *ngIf="last && state.length > 3 && item.title.length >= 10"
                    [matTooltip]="item.title" [matTooltipPosition]="odd ? 'above' : 'below'">
                    {{cutString(item.title, 10)}}
                  </span>
                  <span class="first-span" [class.bright-red-color]="item.violation" *ngIf="last && state.length > 3 && item.title.length < 10">
                    {{item.title}}
                  </span>

                  <span class="second-span" [class.bright-red-color]="item.violation" *ngIf="!last">{{cutString(item.clinic, 30)}}</span>
                  <span class="second-span" [class.bright-red-color]="item.violation" *ngIf="last && state.length <= 3">{{cutString(item.clinic, 30)}}</span>
                  <span class="second-span" [class.bright-red-color]="item.violation" *ngIf="last && state.length > 3">{{cutString(item.clinic, 15)}}</span>
                </div>
              </div>
              <div class="date" fxLayoutAlign="center center" [class.bright-red-color]="item.violation">
                <span>{{formatDate(item.date)}}</span>
              </div>
              <div *ngIf="item.violation" class="violation" [class.up]="!odd" [class.down]="odd" fxLayoutAlign="center center">
                <span>{{item.violation}}</span>
              </div>
            </div>

            <div class="sm-separator" *ngIf="item.separator"></div>
          </div>

          <div class="separator closest-zoom right"></div>
        </div>
        <!--  -->

      </div>
    </mat-card-content>
  </mat-card>

</div>