@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "assets/palette.scss";

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: $preloader-color-bg;
}

html {
  height: 100%;
  background-color: #eef4f9;
}

body {
  height: 100%;
  margin: 0;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-34_2 {
  font-size: 34.2px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.mat-icon.md-14 {
  width: 14px;
}

.mat-icon.md-18 {
  width: 18px;
}

.mat-icon.md-24 {
  width: 24px;
}

.mat-icon.md-30 {
  width: 30px;
  height: 30px;
}

// .up-tooltip {
//   background: rgb(168, 168, 168);
//   text-decoration-color: #000000;
//   // border: 1px solid;
//   // border-radius: 3px;
// }
.mat-tooltip {
  color: black !important;
  border-radius: 8px !important;

  border: 1px solid #979797;
  background: white;
}

.mat-expansion-panel-content {
  background-color: white;

  &:hover {
    background-color: white;
  }
}

.mat-expansion-indicator::after {
  color: white;
  width: 5px;
  height: 5px;
}

.menu-item {
  & *.mat-datepicker-toggle-default-icon {
    width: 15px;
    height: 15px;
    color: #c5d9e8;
  }

  & .mat-datepicker-toggle {
    border: 1px solid #c5d9e8;
    border-left: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

    width: 25px;
    height: 35px;

    display: flex;

    & .mat-icon-button {
      width: 15px;
      height: 15px;
      margin: auto;

      display: flex;

      & span {
        margin: auto;
        height: 35px;
        display: flex;
      }
    }
  }
}

.diagnosis-inf {
  
  span {
    font-family: 'DIN Pro';
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    text-align: center;
    color: $diagnosis-inf-color;

    &.data {
      font-size: 22px;
      font-weight: normal;
      letter-spacing: 0.5px;
      color: $diagnosis-inf-data-color;
    }
  }

  .kpis {
    flex-wrap: wrap;

    .kpi {
      flex-basis: 200px;

      span {
        text-align: start;
      }
    }
  }
}

.personal-inf {
  max-width: 260px;
  min-width: 260px;
  height: 1339px;
  border-radius: 5px;
  box-shadow: -3px 2px 2px 0 rgba(119, 151, 178, 0.16);
  background-image: linear-gradient(to top, $personal-inf-bg-1, $personal-inf-bg-2);
  padding: 30px 0px;

  & .full-name {
    & span {
      line-height: normal;
    }
  }

  & span {
    font-family: 'DIN Pro';
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.4px;
    color: $white;

    &.personal-inf-header {
      font-weight: 300;
      line-height: 1.2;
    }

    &.last-name {
      font-weight: 500;
      font-size: 18px;
    }

    &.numbers {
      font-weight: 500;
      font-size: 20px;
    }

    & .birth-num {
      font-weight: 500;
      font-size: 16px;
    }

    &.date-num {
      font-weight: 500;
      font-size: 20px;
    }
  }
}

//****************************************************************************************
.cdk-global-overlay-wrapper,
.cdk-overlay-container {
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%
}

.cdk-overlay-container {
  position: fixed;
  z-index: 800;
}

.cdk-overlay-container:empty {
  display: none
}

.cdk-global-overlay-wrapper {
  display: flex;
  position: absolute;
  z-index: 800;
}

.cdk-overlay-pane {
  position: absolute;
  pointer-events: auto;
  box-sizing: border-box;
  z-index: 800;
  display: flex;
  max-width: 100%;
  max-height: 100%
}

.cdk-overlay-backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 800;
  pointer-events: auto;
  -webkit-tap-highlight-color: transparent;
  transition: opacity .4s cubic-bezier(.25, .8, .25, 1);
  opacity: 0
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 1
}

@media screen and (-ms-high-contrast:active) {
  .cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    opacity: .6
  }
}

.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, .32)
}

.cdk-overlay-transparent-backdrop,
.cdk-overlay-transparent-backdrop.cdk-overlay-backdrop-showing {
  opacity: 0
}

.cdk-overlay-connected-position-bounding-box {
  position: absolute;
  z-index: 800;
  display: flex;
  flex-direction: column;
  min-width: 1px;

  min-height: 1px;

  & div {
    & .mat-menu-panel {
      z-index: 500 !important;
    }
  }

}

.cdk-global-scrollblock {
  position: fixed;
  width: 100%;
  overflow-y: scroll
}