@import "../../../../src/assets/palette.scss";

footer {
  background-color: $footer-bg;
  height: 90px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);

  padding: 0 35px 0 30px;

  position: relative;
  z-index: 3;
}

.footer-content {
  width: 1540px;
}

.action {
  color: $footer-action;
}

.alert {
  width: 19px;
  height: 19px;
  border-radius: 90px;

  position: absolute;
  transform: translate(10px, -10px);

  span {
    font-family: Roboto;
    font-size: 10.5px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
}

.yellow {
  background-color: $header-alert-yellow;
}

.blue {
  background-color: $header-alert-blue;
}

.action-container {
  width: 40px;
  height: 40px;
}
