<footer fxLayoutAlign="center center">
  <div class="footer-content" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px">
    <div class="action-container" fxLayoutAlign="center center">
      <div fxLayout="center center">
        <i class="material-icons md-24 action">
          search
        </i>
      </div>
    </div>
    <div class="action-container" fxLayoutAlign="center center">
      <i class="material-icons md-24 action">
        add_alert
      </i>
      <div class="alert yellow" fxLayoutAlign="center center">
        <span>3</span>
      </div>
    </div>
    <div class="action-container" fxLayoutAlign="center center">
      <i class="material-icons md-24 action">
        av_timer
      </i>
      <div class="alert blue" fxLayoutAlign="center center">
        <span>1</span>
      </div>
    </div>
  </div>
</footer>
